/* Variables */

$color-one: #FC427B;
$color-light: #fff;
$color-text: #3D101D;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Inconsolata', monospace;

$transition: all 1s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
margin: 0;
color: $color-text;
font-size: 18px;
line-height: 1.7;
font-family: $font-text;
counter-reset: my-sec-counter;
}

button {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    background-color: $color-text;
    transition: $transition;
    border-color: $color-one;
    color: $color-one;
    background-image: linear-gradient(90deg, $color-light 50%, transparent 50%);
}

button:hover {
    background-position: 0 100%;
    color: $color-text;
}

/* Body */